/* Default styles */
body {
  background-color: black;
  background-image: radial-gradient(rgba(0, 150, 0, 0.75), black 120%);
  height: 100vh;
  margin: 0;
  overflow: auto;
  padding: 2rem;
  color: white;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #c8c8c8;
}
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) 1px, transparent 1px, transparent 2px);
  pointer-events: none;
}
::selection {
  background: #0080ff;
  text-shadow: none;
}
pre {
  margin: 0;
}
button {
  background-color: rgba(0, 150, 0, 0.75);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: Inconsolata, monospace;
  font-size: 1.3rem;
  padding: 1rem 2rem;
  text-shadow: 0 0 5px #c8c8c8;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #00cc00;
}

@media (max-width: 1000px) {
  body {
    padding: 1rem;
    font-size: 3.3rem; /* Increased font size for mobile */
  }
  button {
    padding: 0.75rem 1.5rem;
    font-size: 3.3rem; /* Increased font size for mobile */
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.password-input {
  background-color: rgba(0, 150, 0, 0.75);
  border: none;
  border-radius: 5px;
  color: white;
  font-family: Inconsolata, monospace;
  font-size: 1.3rem; /* Increased font size for mobile */
  padding: 0.75rem;
  text-shadow: 0 0 5px #c8c8c8;
  width: 100%;
  box-sizing: border-box;
}
